.banner {
  height: 100vh;
  background-image: url("./image/banner.png");
  background-position: center;
  background-size: cover;
  border: #707070 1px solid;
}
.box {
  max-width: 304px;
}

.portfolio {
  max-width: 384px;
  max-height: 384px;
  margin-bottom: 20px;
}

.line {
  width: 384px;
  height: 1px;
  background-color: #707070;
  /* border: #707070 1px solid; */
  margin: 24px 0 28px 0;
}

.dot {
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 50%;
}

.brand {
  background-color: #000;
  padding: 56px 0 160px 0;
}
.works-mobile {
  display: none;
}
.product {
  width: 100%;
}

.product-1 {
  width: 792px;
  max-height: 416px;
  margin-bottom: 40px;
  /* background-image: url(""); */
  /* background-position: center;
  background-size: cover; */
}

.product-2 {
  width: 588px;
  max-height: 416px;
  /* background-image: url(""), url(""); */
  /* background-position: center;
  background-size: cover; */
  margin: 0 6px 24px 6px;
}

.other-works {
  margin-bottom: 144px;
}

.contact {
  background-color: #000;
  padding: 64px 0;
}
